lab5/4/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="../XMLSchema">
    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:integer"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="lastname" type="xs:string"/>
                <xs:element name="firstname" type="xs:string"/>
                <xs:element name="jobtitle" type="xs:string"/>
                <xs:element name="address" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>